<!-- <h1>{{title}}</h1> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-header></app-header> -->


<!-- String Interpolation -->
<!-- <img src="{{imgUrl}}" alt="img"> -->

<!-- Property Binding -->
<!-- <button disabled="{{isDisabled}}">Disabled using String interpolation </button>
<button [disabled]="isDisabled">Disabled using Property binding</button> -->

<!-- Class Binding -->
 <!-- <button [class.active]="isActive" [class.not-active]="!isActive">Click Me</button>

 <button [class.apple]="fruitName=='Apple'">Fruit Ninja</button> -->

 <!-- Style Binding -->
  <!-- <button [style.backgroundColor]="isActive?'red':'green'">Color me</button> -->


  <!-- Event Binding -->
   <!-- <button (mouseover)="buttonClicked()">Mouseover</button>
   <button (click)="buttonClicked()">Click ME</button>

   <input type="text" (keyup)="keyEnter($event)">

   <input type="text" (keyup.enter)="keyUpFiltering(user)" #user id="userInput">

   <br>
   <br> -->

   <!-- Two way data Binding -->
   <!-- <input type="text" [value]="userName" #username (keyup.enter)="updateUserName(username)"> -->

    <!-- <br>
    <br> -->
    <!-- special syntax for 2way data binding ngModel import FormsModule in app component -->
<!-- <input type="text" [(ngModel)]="userName">
<h3>{{userName}}</h3>

<br>
<br> -->
     <!-- OnewAY VS TWOWay Data Binding -->
      <!-- In one way data binding value passed from component cannot be changed -->
      <!-- <input type="text" [value]="textValue" (keyup.enter)="onKeyUp()" > <br> -->
       <!-- 2 way data binding value passed can be changed -->
      <!-- <input type="text" [(ngModel)]="textValue" (keyup.enter)="onKeyUp()" > -->


      <!-- One WAy Data Binding -->
       <!-- String Interpolation-{{title}}
            Property Binding-[src]
            Class Binding-[class.text-red] 
            Style Binding-[style.backgroundColor]-->
    <!-- Two Way Data Binding -->
     <!-- Two-way Binding-[(ngModel)] -->

     



     <!-- DIRECTIVES -->
      <!-- old way -->
      <!-- <h2 *ngIf="isLoggedIn; else message">{{userName}}</h2>
      <h2 *ngIf="!isLoggedIn">User Not logged in</h2> -->
      <!-- new way -->
      <!-- @if (isLoggedIn){
        <h3>{{userName}}</h3>
      }
      @else{
        <h3>User Not LoggedIn</h3>
      } -->

      <!-- <ng-template #message>
        <h3>Loaded message from ng-template</h3>
      </ng-template> -->

      <!-- If Directive with Number Values -->
       <!-- <button (click)="isClickedLogIn()" *ngIf="clickedLogin < 3" >Login</button>  

       <h4 *ngIf="clickedLogin > 3">Exceeded login attempts,Try later!</h4>       -->

       <!-- If Directive with String Values -->
        <!-- <h2 *ngIf="userRole=='Admin' else message">Welcome Admin!</h2>
        <ng-template #message>
            <h2 *ngIf="userRole!='Admin'">Not an Admin(through ng-template)</h2>
        </ng-template> -->

        <!-- NG-template -->
         <!-- it helps to resuse the code -->
        <!-- <ng-template #callToAction>
          <p>call to action</p>
          <button>Join Now</button>
        </ng-template>

        <div [ngTemplateOutlet]="callToAction">
          <h5>Sidebar</h5>
        </div>

        <div [ngTemplateOutlet]="callToAction">
          <h5>Hero</h5>
        </div>
<div [ngTemplateOutlet]="callToAction"><h4>Footer</h4></div>     -->

<!-- if directive number value -->
 <!-- <button   (click)="TotalClicks()" *ngIf="loginCount < 3">Login</button>
 <h3 *ngIf="loginCount > 3">Count excedded 3</h3> -->
        

 <!-- Ng For Directive -->
  <!-- <h3>{{users}}</h3>
  <h3>{{users[0]}}</h3>
  <h3>{{users[2]}}</h3>

  <p>Loaded using NgFor</p>
  <h2 *ngFor="let user of users">{{user}}</h2> -->

<!-- <ul *ngFor="let user of users">
  <li>{{user}}</li>
</ul>
<ol *ngFor="let user of users">
  <li>{{user}}</li> 
</ol> -->

<!-- <ul>
  <li *ngFor="let user of usersObj">{{user | json}}</li>
</ul> -->

<!-- fetch arrray object -->
<!-- <ul>
  <li *ngFor="let user of usersObj; track user;let i=index;">{{i }}{{ user.name}}
    <button (click)="deleteObj(i)">Delete</button>
  </li>
  </ul>

<ul>
<li *ngFor="let user of usersObj; track user">{{user.name}}</li>
</ul> -->
<!-- Chnage detection -->
 <!-- <button (click)="addNewUser()" >Add new User</button> -->

 <div [ngSwitch]="userRole">
  <p *ngSwitchCase="'Admin'">Welcome Admin</p>
  <p *ngSwitchCase="'Member'">Welcome member</p>
  <p *ngSwitchCase="'Editor'">Welcome Editor</p>
  <p *ngSwitchDefault>PleaseLogin</p>

 </div>
